{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Estadísticas de las votaciones</h2>
          <ul class="fa-ul mb-0">
            <li>
                <div class="subheading mb-2"><a href="#estado">Estado de las votaciones</a></div>
            </li>
              <li>
                <div class="subheading mb-2"><a href="#meses">Votaciones por meses</a></div>
            </li>
              <li>
                <div class="subheading mb-2"><a href="#votos">Votos cada mes</a></div>
            </li>
          </ul>
        </div>
      </section>

      <hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="estado">
        <div class="my-auto">
          <h1 class="mb-0">Estado
            <span class="text-primary">de las votaciones</span>
          </h1>
            <br>
            <br>
            <div ><canvas id="chart-area" width="300" height="300"></canvas>
<canvas id="chart-area2" width="300" height="300"></canvas></div>

        </div>
      </section>

      <hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="meses">
        <div class="my-auto">
          <h1 class="mb-0">Votaciones
            <span class="text-primary">por meses</span>
          </h1>
            <br>
            <br>
            <div ><canvas id="chart-area3" width="600" height="300"></canvas></div>

        </div>
      </section>

      <hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="votos">
        <div class="my-auto">
          <h1 class="mb-0">Votos
            <span class="text-primary">cada mes</span>
          </h1>
            <br>
            <br>
            <div ><canvas id="chart-area4" width="600" height="300"></canvas></div>

        </div>
      </section>



<script src="{% static 'js/Chart.js' %}"></script>
<script>
var pieData = [ {
                    value: {{ numVotacionesSinEmpezar }},
                    color:"#495057",
                    highlight: "#FBEEE6",
                    label: "Votaciones sin empezar"
                },
				{
					value: {{ numVotacionesSinTerminar }},
					color: "#BD5D38",
					highlight: "#FBEEE6",
					label: "Votaciones activas"
				},
				{
					value: 1,
					color: "#868e96",
					highlight: "#FBEEE6",
					label: "Votaciones terminadas"
				}
			];
	var barChartData = {
		labels : ["Octubre","Noviembre","Diciembre","Enero"],
		datasets : [
			{
				fillColor : "#868e96",
				strokeColor : "#ffffff",
				highlightFill: "#FBEEE6",
				highlightStroke: "#ffffff",
				data : [2,1,3,1]
			}
		]
	}
		var lineChartData = {
			labels : ["Octubre","Noviembre","Diciembre","Enero"],
			datasets : [
				{
					label: "Datos",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "#BD5D38",
					pointColor : "#495057",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [90,30,10,80]
				}
			]
		}
var ctx = document.getElementById("chart-area").getContext("2d");
var ctx2 = document.getElementById("chart-area2").getContext("2d");
var ctx3 = document.getElementById("chart-area3").getContext("2d");
var ctx4 = document.getElementById("chart-area4").getContext("2d");
window.myPie = new Chart(ctx).Pie(pieData);
window.myPie = new Chart(ctx2).Doughnut(pieData);
window.myPie = new Chart(ctx3).Bar(barChartData, {responsive:true});
window.myPie = new Chart(ctx4).Line(lineChartData, {responsive:true});
</script>


{% endblock %}