{% extends "base.html" %}
{% load i18n static %}

{% block content %}
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Decide
            <span class="text-primary">- EGC ETSII</span>
          </h1>
          <div class="subheading mb-5"> · Plataforma de
            <a href="mailto:name@email.com">voto electrónico educativa ·</a>
          </div>
          <p class="lead mb-5">Dedide es una plataforma de voto electrónico seguro. Se trata de un proyecto educativo, pensado para el estudio de sistemas de votación.</p>
          <div class="social-icons">
            <a href="https://telegram.me/egcetsii">
              <i class="fab fa-telegram" ></i>
            </a>
            <a href="https://github.com/EGCETSII/decide">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/InnoSoftDays">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://1984.lsi.us.es/wiki-egc/index.php/2018/2019">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </section>

{% endblock %}

}