{% extends "base.html" %}
{% load i18n static %}

{% block content %}
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">{{ votacion.name }}</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Votación: ID {{ votacion.id }}</h3>
				<br>
              <div class="subheading mb-3">Descripcion:</div>
              <p>{{ votacion.desc}}</p>
				<div class="subheading mb-3">Pregunta:</div>
              <p>{{ votacion.question.desc}}</p>
				<div class="subheading mb-3">Opciones:</div>
              <p><ul>
	{% for option in votacion.question.options%}
<li type="circle">{{ option.number}},{{ option.option}} </li>
        		{% endfor %}
    </ul></p>

			  <div class="subheading mb-3">Auths:</div>
              <p><ul>
    {% for auth in votacion.auths%}
   <li type="circle"> {{ auth.name}}, {{auth.url}}</li>
    {% endfor %}
         </ul></p>
            </div>


            <div class="resume-date text-md-right">
              <span class="text-primary">Fecha inicio: {{ votacion.start_date|slice:":10" }} {{ votacion.start_date|slice:"11:19" }}</span>
            <br>
			</div>
			  <div class="resume-date text-md-right">
              <span class="text-primary">Fecha fin: {{ votacion.end_date|slice:":10" }} {{ votacion.end_date|slice:"11:19" }}</span>
            </div>
          </div>
        </div>


      </section>

{%if votacion.postproc is None %}

{%else%}
<h2>{% trans 'Results: ' %}</h2>
        <ul>
            {% for option in votacion.postproc %}
                <li>{{option.option}}: {{option.postproc}} <span>({{option.votes}})</span></li>
            {% endfor %}
        </ul>
{%endif%}


{% endblock %}
