<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset="utf-8">
		<h1>DECIDE - SUBSISTEMA DE VISUALIZACIÓN</h1>
		<style>
			{% block style_css %}{% endblock %}
		</style>
	</head>
	<body>
		<header>
			{% block encabezado %}{% endblock %}
			<nav>
				<ul>
                    <li><a href='/visualizer/inicio'>Inicio</a></li>
                    <li><a href='/visualizer/todasVotaciones'>Ver todas las votaciones</a></li>
			        <li><a href='/visualizer/votacion'>Ver una votación</a></li>
                    <li>------------------------------</li>
                    {% if user.is_authenticated %}
                    <li><a href='/logout'>Log out</a></li>

                    {% else %}
                    <li><a href='/login'>Login</a></li>
                    <li><a href='/signup'>Signup</a></li>
                    {% endif %}

				</ul>
			</nav>
			<hr>
		</header>
		<section class='contenido'>
			{% block contenido %}{% endblock %}
		</section>
		<footer>
			<p>Proyecto para la Universidad de Sevilla - Decide, subsistema de visualización</p>
		</footer>
	</body>
</html>